<div class="row">
    <div class="col-lg-6 col-md-6 hidden-xs">
        <img src="./img/login.png" class="img-responsive">
    </div>
    <div class="user_login col-lg-4 col-md-4 col-xs-12">
        <h3>帐号登陆</h3>
        <div>
            <form ng-submit="loginHandle()" method="post" action="/SSOServer/server/login">
            <label ng-model="tipInfo" class="tipInfo">{{tipInfo}}</label>
            <input name="userAccount" type="text" tabindex="1" placeholder="输入邮箱/手机号" class="key user_name" ng-blur="clearTipInfo()" ng-minlength="5" ng-model="userinfo.username" >
            <input name="userPwd" type="password" tabindex="2" placeholder="输入密码" class="user_name lock" ng-blur="clearTipInfo()" ng-model="userinfo.password">
            <div class="verifyCode">
                <input type="text" class="col-lg-4" placeholder="输入验证码">
                <img src="img/verify.ashx" class="col-lg-4">
                <a class="col-lg-4 verifyUrl">看不清，换一张？</a>
            </div>
            <div class="row">
                <span class="col-xs-6 col-md-6 col-lg-6">
                    <input  name="remeberMe" id="remeberMe" type="checkbox"  ng-model="isSavePw" tabindex="3">
                    <label for="remeberMe">下次自动登陆</label>
                </span>
                <a class="col-xs-4 col-md-4 col-lg-4" href="http://www.baidu.com">忘记密码</a>
            </div>
            <input type="hidden" name="url" id="domain" value="{{domain}}" ng-model="domain">
            <input type="submit" value="登陆" class="login">
            </form>
        </div>
        <div class="line"></div>
        <div class="third-part">
            <span>第三方帐号登陆</span>
            <a href="https://api.weibo.com/oauth2/authorize?client_id=2601122390&amp;response_type=code&amp;redirect_uri=https%3A%2F%2Fpassport.csdn.net%2Faccount%2Flogin%3Foauth_provider%3DSinaWeiboProvider" class="sina"></a>
            <a id="qqAuthorizationUrl" href="https://graph.qq.com/oauth2.0/authorize?response_type=code&amp;client_id=100270989&amp;redirect_uri=https%3A%2F%2Fpassport.csdn.net%2Faccount%2Flogin%3Foauth_provider%3DQQProvider&amp;state=test" class="qq"></a>
        </div>
        <div class="register">
            <span>还没有帐号？</span>
            <a href="#">点击注册</a>
        </div>
    </div>


</div>