<div>
    <form name="registerForm" ng-submit="registerHandle()" method="post" action="{{postUrl}}">
    <div class="form-group" ng-class="{true:'', false:'has-error'}[isEmailVailed]">
        <label for="exampleInputEmail1" class="control-label">Email address {{emailErrorResult}}</label>
        <input type="email" name="userName" class="form-control" id="exampleInputEmail1" placeholder="Enter email"  ng-model="email" ng-keyup="keyupEmail()" required>
    </div>
    <div class="form-group" ng-class="{true:'', false:'has-error'}[isPasswordVailed]">
        <label for="exampleInputPassword1" class="control-label">Password{{passwordErrorInfo}}</label>
        <input type="password" name="userPassword" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="password" ng-keyup="keyupPassword()" required>
    </div>
    <div class="form-group" ng-class="{true:'', false:'has-error'}[isPassword1Vailed]">
        <label for="exampleInputPassword2" class="control-label">Retype Password{{password1ErrorInfo}}</label>
        <input type="password" name="userPassword1" class="form-control" id="exampleInputPassword2" placeholder="Retype Password" ng-model="password1" ng-keyup="keyupPassword1()">
    </div>
    <div class="form-group">
        <label for="exampleInputName">Name</label>
        <input type="text" class="form-control" id="exampleInputName" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="exampleInputName">Sex</label>
        <div>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Male
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" checked> Female
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Shemale
            </label>
        </div>
    </div>
        <input class="btn btn-primary btn-lg" ng-disabled="registerForm.$invalid" type="submit" value="SIGN IN" />
    </form>
</div>
