.user_login{
    border: 1px solid silver;
    padding: 0 2em;
    margin-top:3em ;
    color: #747474;
}
.user_login h3{
    font-size: 1.25em;
}
.user_name{
    display: block;
    border: 2px solid #e1e1e1;
    text-indent:2em;
    width: 100%;
    font-size: 1.25em;
    padding: .5em 0;
    margin-bottom: 1.5em;
}
.login{
    display: block;
    background-color: #d23f3a;
    width: 100%;
    font-size: 1.25em;
    margin-bottom: 1.5em;
    height: 3em;
    border:none;
    color: #fff;
    font-size: 1.5em;
    text-align:center;
}
.line{
    background: #eee;
    height: 1px;
    margin-top: 40px;
}
.key{
    background: url('../img/login-key-icon.png') no-repeat 15px center;
}
.lock{
    background: url('../img/login-locked-icon.png') no-repeat 15px center;
}
.sina{
    background: url('../img/bg.png') no-repeat -10px -27px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.in{
    background: url('img/bg.png') no-repeat -47px -27px;
    width: 32px;
    height: 32px;
}
.baidu{
    background: url('img/bg.png') no-repeat -84px -27px;
    width: 32px;
    height: 32px;
}
.qq{
    background: url('../img/bg.png') no-repeat -122px -27px;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.google{
    background: url('img/bg.png') no-repeat -159px -27px;
    width: 32px;
    height: 32px;
}
.git{
    background: url('img/bg.png') no-repeat -196px -27px;
    width: 32px;
    height: 32px;
}
.third-part span{
    display: block;
    margin-bottom: 0.5em;
}
.register{
    margin: 1em 0 2em 0;
}
.user_login .error{
    border: 1px solid #fedddc !important;
}
.tipInfo{
    font-weight: lighter;
    color: red;
}